/* Сброс стилей  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Сброс стилей  */

.container {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
}

.nav {
    padding: 15px 0;
    background: #000;
}

.nav__logo {
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    font-family: 'Arial';
    text-transform: uppercase;
}

.nav__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list {
    display: flex;
    gap: 84px;
}

.nav__list-link {
    font-weight: 400;
    font-size: 25px;
    color: #fff;
    font-family: 'Arial';
}

.header__content {
    min-height: 850px;
    background: url('../images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 145px;
}

.header__title {
    font-weight: 700;
    font-size: 40px;
    color: #000;
    font-family: 'Arial';
}

.header__link {
    font-weight: 700;
    font-size: 35px;
    color: #000;
    font-family: 'Arial';
    padding: 10px 24px;
    background: white;
    border-radius: 10px;
}

.about {
    padding-top: 30px;
    padding-bottom: 112px;
    background: #0e1c25;
}

.about__title,
.works__title,
.footer__title {
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    text-align: center;
    font-family: 'Arial';
}

.about__content-photo {
    width: 500px;
    height: 600px;
}

.about__content-text-title {
    font-weight: 400;
    font-size: 35px;
    color: #fff;
    font-family: 'Arial';
}

.about__content-text-descr {
    font-weight: 400;
    font-size: 18px;
    text-align: justify;
    color: #fff;
    font-family: 'Arial';
}

.about__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.about__content-text {
    max-width: 466px;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.works {
    padding-top: 43px;
    padding-bottom: 70px;
    background: #5c6b81;
}

.works__cards-item {
    padding: 15px 15px 27px 15px;
    background: #b12b06;
    max-width: max-content;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.works__cards-item h3 {
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    font-family: 'Arial';
    margin-top: 20px;
}

.works__cards-item p {
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: #fff;
    font-family: 'Arial';
    max-width: 264px;
    margin-top: 21px;
    margin-bottom: 27px;
}

.works__cards-item a {
    font-weight: 700;
    font-size: 20px;
    color: #000;
    font-family: 'Arial';
    padding: 8px 24px;
    background: white;
    border-radius: 10px;
}

.works__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 55px;
    gap: 30px;
}

.footer {
    padding: 50px 0;
    background: black;
}

.footer__list{
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
}